---
import {MonadDemo} from '../../random/signal-as-monad/MonadDemo';
import MonadDemoSourceCode from '../../random/signal-as-monad/MonadDemo?raw';
import MonadFnsSourceCode from '../../random/signal-as-monad/monad?raw';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Signals are monads!</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
      <h1><a href="https://preactjs.com/blog/signal-boosting">Signals</a> are monads!</h1>
      <MonadDemo client:load />
      <hr/>
      <h2>Source code</h2>
      <p><a href="https://github.com/drmercer/malleable-fp">View the whole project on GitHub</a></p>
      <h3><code>MonadDemo.tsx</code></h3>
      <pre>{MonadDemoSourceCode}</pre>
      <h3><code>monad.ts</code></h3>
      <pre>{MonadFnsSourceCode}</pre>
		</main>
	</body>
</html>
