---
import {MonadDemo} from '../../random/signal-as-monad/MonadDemo';
import MonadDemoSourceCode from '../../random/signal-as-monad/MonadDemo?raw';
import MonadFnsSourceCode from '../../random/signal-as-monad/monad?raw';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
      <MonadDemo client:load />
      <hr/>
      <h1>Source code</h1>
      <p><a href="https://github.com/drmercer/malleable-fp">View the whole project on GitHub</a></p>
      <h2><code>MonadDemo.tsx</code></h2>
      <pre>{MonadDemoSourceCode}</pre>
      <h2><code>monad.ts</code></h2>
      <pre>{MonadFnsSourceCode}</pre>
		</main>
	</body>
</html>
